 

 
     <!--desktop menu area start -->
    <section class="nav-section  d-lg-flex  d-none ">
        <div class="logo">
            <a href="/"><img src="/assets/img/1.logo/ea-logo.png" alt=""></a>
            <a href="/"><span>Education Academy</span></a>
        </div>
        <div class="rightItems">

       
        <div class="nav-menu">
            <% commonData.menuItems.forEach(item=> { %>
                <div class="nav-menu-item">
                    <span>
                        <p>
                            <%= item.text %>
                        </p>
                        <% if (item.submenu && item.submenu.length> 0) { %>
                            &nbsp; <i class="bi bi-caret-down-fill"></i>
                            <% } %>
                    </span>
    
                    <div class=" d-dropdown-item">
                        <% if (item.submenu && item.submenu.length> 0) { %>
                            <% item.submenu.forEach(subItem=> { %>
    
    
                                <% if (subItem.submenu2 && subItem.submenu2.length> 0) { %>
                                    <div class="secondMenu">
                                        <span>
                                            <%= subItem.text %>
                                        </span>
                                        <div class="d-dropdown-item-1">
                                            <% subItem.submenu2.forEach(subItem2=> { %>
                                                <a href="/courseview/<%= subItem2.link %>">
                                                    <%= subItem2.text %>
                                                </a>
                                                <% }); %>
                                        </div>
                                    </div>
                                    <% } else { %>
    
                                        <a href="/courseview/<%= subItem.link %>">
                                            <%= subItem.text %>
                                        </a>
                                        <% } %>
    
    
                                            <% }); %>
                                                <% } %>
                    </div>
                </div>
                <% }); %>
        </div>
        <Button class="secondary-button " data-bs-toggle="modal" data-bs-target="#leadModal"><i
                class="bi bi-telephone-fill"></i> &nbsp; Call Back
        </Button>
    </div>
    </section>
    <!--desktop menu area end -->

    <!--mobile menu area start -->
    <section class="mobile-menu-area d-lg-none d-block ">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="mobile-menu">
                        <div class="mobile-logo">
                            <a href="/"><img src="/assets/img/1.logo/ea-logo.png" alt=""></a>
                            <a href="/"><span>Education Academy</span></a>
                        </div>
                        <div class="mobile-menu-icon">
                            <i class="bi bi-list" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample"
                                aria-controls="offcanvasExample"></i>
                        </div>
                        <div class="offcanvas offcanvas-custom offcanvas-start" tabindex="-1" id="offcanvasExample"
                        aria-labelledby="offcanvasExampleLabel">
                        <div class="offcanvas-header offcanvas-custom-header">
                            <a href="/"><span class="offcanvas-title" id="offcanvasExampleLabel">Education
                                    Academy</span></a>
                            <i class="bi bi-x" data-bs-dismiss="offcanvas" aria-label="Close"></i>
                        </div>
                        <div class="offcanvas-body">
                            <div class="mobile-menu-items">
                                <% commonData.menuItems.forEach((item, index) => { %>
                                <div class="accordion" id="accordionExample<%= index %>">
                                    <div class="accordion-item custom-accordion-item">
                                        <h2 class="accordion-header custom-accordion-header" id="heading<%= index %>">
                                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                                data-bs-target="#collapse<%= index %>" aria-expanded="true"
                                                aria-controls="collapse<%= index %>">
                                                <span><%= item.text %></span>
                                            </button>
                                        </h2>
                                        <div id="collapse<%= index %>" class="accordion-collapse collapse"
                                            aria-labelledby="heading<%= index %>" data-bs-parent="#accordionExample<%= index %>">
                                            <% if (item.submenu && item.submenu.length > 0) { %>
                                            <% item.submenu.forEach((subItem, subIndex) => { %>
                                            <div class="accordion-body custom-accordion-body">
                                                <div class="m-menu-item-1">
                                                    <% if(subItem.submenu2 && subItem.submenu2.length > 0){ %>
                                                    <span><%= subItem.text %></span>
                                                    <div class="m-menu-item-2">
                                                    <% subItem.submenu2.forEach((subItem2, subIndex2) => { %>
                                                        
                                                        <a href="/courseview/<%= subItem2.link %>"><i class="bi bi-arrow-down-right-square-fill"></i> &nbsp;<%= subItem2.text %></a>
                                                    
                                                    <% }); %>
                                                    </div>
                                                    <% } else{ %>
                                                        
                                                        <a href="/courseview/<%= subItem.link %>"><%= subItem.text %></a>
                                                    <% } %>
                                                </div>
                                            </div>
                                            <% }); %>
                                            <% } %>
                                        </div>
                                    </div>
                                </div>
                                <% }); %>
                                <button class="cta-button" data-bs-toggle="modal" data-bs-target="#leadModal">Join US</button>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>

    </section>
    <!--mobile menu area end -->

 